<div class="container">
  <form [formGroup]="form">
    <select
        formControlName="sortOrder"
        id="sortOrder"
        class="input-sortOrder"
    >
      <option *ngFor="let category of SortCategory" [ngValue]="category.value">{{category.label}}</option>
    </select>
  </form>
</div>
  <div class="container">
    <div *ngFor="let contact of contacts">
      <app-contact-item [contact]="contact" (deleteContact)="onDeleteContact($event)"></app-contact-item>
    </div>
  <div class="pagination-item">
    <p>There must to be rendered the Pagination Component</p>
  </div>
</div>
