.container{
  width: 70%;
  margin-top: 2%;
  margin-left: 15%;
  padding: 1%;
  background-color:white;
}
.input-sortOrder{
  margin: 1%;
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  box-sizing: border-box;
}

@media screen and (max-width: 768px){
  .container{
    width: 100%;
    margin-top: 2%;
    margin-left: 0;
    padding: 1%;
    background-color:white;
  }
}
