<div class="container">
  <form [formGroup]="form">
    <select
        formControlName="sortOrder"
        id="sortOrder"
        class="input-sortOrder"
    >
      <option value="name">Sort by Name Ascending</option>
      <option value="name r">Sort by Name Descending</option>
      <option value="birthDate">Sort By Birth Date Ascending</option>
      <option value="birthDate a">Sort By Birth Date Descending</option>
    </select>
  </form>
</div>
  <div class="container">
    <div *ngFor="let contact of contacts">
      <app-contact-item [contact]="contact" (deleteContact)="onDeleteContact($event)"></app-contact-item>
    </div>
  <div class="pagination-item">
    <p>There must to be rendered the Pagination Component</p>
  </div>
</div>
