<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <select
      formControlName="sortOrder"
      id="sortOrder"
      class="input-sortOrder"
      (change)="onChange()"
    >
      <option value="name">Sort by Name Ascending</option>
      <option value="name r">Sort by Name Descending</option>
      <option value="birthDate">Sort By Birth Date Ascending</option>
      <option value="birthDate a">Sort By Birth Date Descending</option>
  </select>
    <button type="submit">Submit</button>
  </form>
</div>
  <div class="container">
    <div *ngFor="let contact of contactsToShow">
      <app-contact-item [contact]="contact" (deleteContact)="onDeleteContact($event)"></app-contact-item>
    </div>
  <div class="pagination-item">
    <p>Aqui va la pagination</p>
  </div>
</div>
