.contactItem{
  display: flex;
  margin-left: 1%;
  margin-top: 1%;
  margin-right: 1%;
  background-color: #eeeeee;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
}
.contact-tName{
  display: flex;
  flex-grow: 2;
  flex-direction: column;
}
.cName{
  margin:0;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: large;
  font-weight: bolder;
}
.cType{
  margin:0;
  margin-bottom: 5%;
}
.contact-property{
  display: flex;
  flex-grow: 3;
  width: 20%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: large;
  align-items: center
}

.button{
  color: #eff3f6;
  height: 50%;
  margin-left: 1%;
  background-color: #c2c3c4;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: 1%;
}

@media screen and (max-width: 768px){
  .contactDataContainer{
    width: 98%;
  }
}
