<div class="contactItem">
  <div class="contact-tName">
    <p class="cName">{{contact.name}}</p>
    <p class="cType">{{contactType[contact.contactType]}}</p>
  </div>
  <p class="contact">{{contact.phoneNumber}}</p>
  <p class="contact">{{contact.birthDate | date: 'MMM d, y' }}</p>
  <div class="contact-buttons">
    <div class="button editBtn" [routerLink]="['/contact-form',contact.contactId]" >Edit</div>
    <div class="button deleteBtn" (click)="onDeleteContact(contact)">Delete</div>
  </div>
</div>
