<nav class="nav nav-justified customNavBar">
  <h1 class="companyName"><strong>ISU</strong>Corp</h1>
  <p class="nameDescription">World Class<br>Software Development</p>
  </nav>
<nav class="nav nav-justified menuNav">
  <h3 class="menuName">{{href}}</h3>
  <p class="menuDescription">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae consequuntur debitis et facilis,
    fuga harum impedit ipsum molestiae nulla praesentium reprehenderit similique, voluptatibus? Cumque hic
    minima perspiciatis saepe voluptate?
  </p>
  <div class="menuBtn" >{{buttonLabel}}</div>
</nav>
