<nav class="nav nav-justified customNavBar">
  <h1 class="companyName" ><strong>ISU</strong>Corp</h1>
  <p class="nameDescription">World Class<br>Software Development</p>
  </nav>
<nav class="nav nav-justified menuNav">
  <h3 class="menuName">{{href}}</h3>
  <p class="menuDescription">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae consequuntur debitis et facilis,
    fuga harum impedit ipsum molestiae nulla.
  </p>
<!--  <div class="menuBtn" [routerLink]="routerLink">{{buttonLabel}}</div>-->
</nav>
<nav class="nav nav-justified menuNav" >
  <button class="menuBtn" routerLink="/reservation-form">Create a Reservation</button>
  <button class="menuBtn" routerLink="/contact-form/new">Create a Contact</button>
  <button class="menuBtn" routerLink="/">Reservations List</button>
  <button class="menuBtn" routerLink="/contacts-list">Contacts List </button>
</nav>
