.customNavBar{
  width:100%;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companyName{
  color: #eeeeee;
  font-size: 3rem;
}
.nameDescription{
  margin: 2%;
  font-size: medium;
  color: #eeeeee;
  display:flex;
  align-content: center;
  flex-direction: column;

}
@media screen and (max-width: 768px){
  .companyName{
    font-size: larger;
  }
  .nameDescription{
    display: none;
  }
}

.menuNav{
  display: flex;
  background-color: #e6ebf1;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  flex-direction: row;
}
.menuDescription{
  margin:1%;
  width: 50%;
  font-size: smaller;
}
.menuName{
  width: 20%;
  color: crimson;
  font-size: x-large;
}
.menuBtn{
  width: 15%;
  color: white;
  background-color: #c2c3c4;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: 1%;
  font-weight: lighter ;
}
